# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    container:
      image: reactnativecommunity/react-native-android:v15.0
      volumes:
        - /usr:/host/usr
        - /opt:/host/opt

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - uses: actions/checkout@v4
      
      - run: df -h /
      - run: rm -rf /host/usr/local/lib/android
      - run: df -h /
      - run: rm -rf /host/usr/local/.ghcup
      - run: df -h /
      - run: rm -rf /host/usr/share/dotnet
      - run: df -h /
      - run: rm -rf /host/opt/ghc
      - run: df -h /
      - run: rm -rf /usr/local/share/boost
      - run: df -h /
      - run: rm -rf /host/usr/share/swift
      - run: df -h /
      - run: rm -rf /opt/az
      - run: df -h /
